@import './Games/styles.scss';
@import './GamesWithFeaturedAndDisabled/styles.scss';

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

#root {
    width: 80%;
    margin: 0 auto;
}