.image {
    display: initial;

    &__link {
        height: 200px;
        display: inline-block;
        text-decoration: none;
        color: black;
    }

    &__img {
        height: 100%;
    }

    &__img_title {
        display: block;
    }
}