.images {
    display: flex;
    flex-direction: row;
    &__link {
        height: 200px;
        display: inline-block;
    }

    &__img {
        height: 100%;
    }

    .image {
        display: initial;
    }
}